#!/usr/bin/env python3

# Submit Server Information
API = 'http://submit.usna.edu/api'
KEY = 'insert-instructor-api-here'

# List the available bases and their configurations.
#   INSTANCES - How many simultaneous docker containers should run at once, ex 8
#   DOCKER_CPUS - Define the number of CPUs to allow per docker instance, ex '1-20'
#   DOCKER_MEM_LIMIT - Define the Docker Memory Limit, ex '16g'
BASE_CONFIG = {'cs-base':
                         {'INSTANCES': 8,
                          'DOCKER_CPUS': '1-20',
                          'DOCKER_MEM_LIMIT': '16g',
                          'TMPFS': {'/ramdisk':'size=2G'},
                          'USER': 666
                         }
              }

# Time to wait before checking for new submissions (if none in queue)
DELAYCHECK = 2

# How much time to give a docker container before killing it
KILL_AFTER = 330

# Define the maximum size of output to return from stdout or stderr
MAX_SIZE = 250000

# Define a file, that if it exists, will prevent the system from spawning
# new docker instances (good for preventing startups during maintenance)
KILL_FILE = '/tmp/stopsubmit'

# Client Specific Settings
DEBUG_SHOW_TESTCASE = True
DEBUG = True
