#!/usr/bin/env python3

# Submit Server Information
API = 'http://submit.usna.edu/api'
KEY = 'insert-instructor-api-here'
DEBUG_SHOW_TESTCASE = True
DEBUG = True

# Supported Bases
SUPPORTED_BASES = ['cs_base']

# How many simultaneous docker containers should run at once
INSTANCES = 28

# Time to wait before checking for new submissions (if none in queue)
DELAYCHECK = 5

# How much time to give a docker container before killing it
KILL_AFTER = 330

# Define the maximum size of output to return from stdout or stderr
MAX_SIZE = 250000

# Define the number of CPUs to allow per docker instance
DOCKER_CPUS = '1-51'

# Define the Docker Memory Limit
DOCKER_MEM_LIMIT = '8g'
